<h2>Liste des Exercices</h2>
<ul>
    <li *ngFor="let exercice of exercices">
        <button mat-button (click)="choisirExercice(exercice)">
            {{ exercice.titre }} - {{ exercice.matiere }} ({{ exercice.niveau }})
        </button>
    </li>
</ul>


<div *ngIf="exerciceSelectionne">
    <h3>Exercice sélectionné : {{ exerciceSelectionne.titre }}</h3>
    <p><strong>Matière :</strong> {{ exerciceSelectionne.matiere }}</p>
    <p><strong>Description :</strong> {{ exerciceSelectionne.description }}</p>


    <div *ngIf="questions">
        <h4>Choisissez une réponse :</h4>
        <div *ngFor="let question of questions">
            <p><strong>{{ question.question }}</strong></p>
            <button *ngFor="let option of question.options" mat-button (click)="reponseUtilisateur = option">
                {{ option }}
            </button>
        </div>
    </div>


    <div *ngIf="!questions">
        <h4>Votre réponse :</h4>
        <input type="text" [(ngModel)]="reponseUtilisateur" placeholder="Tapez votre réponse ici">
    </div>


    <button mat-button (click)="validerReponse()">Valider</button>


    <p *ngIf="correctionVisible">{{ messageCorrection }}</p>


    <p *ngIf="correctionVisible"><strong>Correction :</strong> {{ exerciceSelectionne.correction }}</p>


    <button mat-button (click)="exerciceSelectionne = null; questions = undefined; correctionVisible = false;">
        Réinitialiser
    </button>
</div>






















<!-- 

<h2>Liste des Exercices</h2>

<ul>
    <li *ngFor="let exercice of exercicesTab">
        <button mat-button (click)="choisirExercice(exercice)">
            {{ exercice.titre }} - {{ exercice.matiere }} ({{ exercice.niveau }})
        </button>
    </li>
</ul>


<div *ngIf="exerciceSelectionne">
    <h3>Exercice sélectionné : {{ exerciceSelectionne.titre }}</h3>
    <p><strong>Matière :</strong> {{ exerciceSelectionne.matiere }}</p>
    <p><strong>Description :</strong> {{ exerciceSelectionne.description }}</p>

 
    <div *ngIf="questions">
        <h4>Répondez aux questions :</h4>
        <div *ngFor="let question of questions">
            <p><strong>{{ question.question }}</strong></p>
            <button *ngFor="let option of question.options" mat-button>
                {{ option }}
            </button>
        </div>
    </div>

   
    <p *ngIf="!questions">
        <strong>Correction :</strong> {{ exerciceSelectionne.correction }}
    </p>

  
    <button mat-button (click)="exerciceSelectionne = null; questions = undefined">
        Réinitialiser
    </button>
</div>


-->