<mat-card class="matieres-container">
    <mat-card-title>📚 Choisissez une matière</mat-card-title>

    <div class="matiere-grid" *ngIf="matieres.length > 0; else loading">
        <div *ngFor="let matiere of matieres" class="matiere-card" [routerLink]="['/cours', matiere]">
            <span class="matiere-label">{{ matiere }}</span>
            <img class="matiere-icon" [src]="matiereImages[matiere]" [alt]="matiere" />
        </div>
    </div>

    <ng-template #loading>
        <p>⏳ Chargement des matières en cours...⏳</p>
    </ng-template>
</mat-card>